@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

body {
  @apply bg-slate-950 font-sans text-slate-100 antialiased;
}

a {
  @apply font-medium text-primary-100 transition hover:text-white;
}
